 @media (max-width: 400px) {
  .survey-area{
    padding-top: 5vh;
  }
} 
 
@media (max-width: 500px) {
  .survey-area{
    padding-top: 40vh;
  }
}
 
@media (min-width: 300px) {
  .survey-area{
    padding-top: 30vh;
  }
}

