.footer {
  width: 100%;
  backdrop-filter: blur(19px);
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(145, 190, 21, 0.089),
    rgba(11, 124, 20, 0.219)
  );
  z-index: 5;
}
.footerContainer {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  margin: 0 8%;
  justify-content: space-evenly;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 16px;
  padding: 28px 28px;
  border-radius: 5px;
  opacity: 0.5;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  transition: opacity 0.3s ease-in;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  background-color: #9ef01a;
}

.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 16px;
  padding: 28px 28px;
  border-radius: 5px;
  opacity: 1;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  transition: opacity 0.3s ease-in;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  background-color: #9ef01a;
}

.text {
  font-size: 1em;
  font-weight: bold;
  color: black;
  margin: 0;
}

.text2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.secondaryText {
  font-size: 14px;
  color: black;
  margin: 0;
}

.secondaryText2 {
  font-size: 14px;
  color: white;
  margin: 0;
}

.img1 {
  width: 75px;
  height: 50px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content:hover {
  cursor: pointer;
  opacity: 1;
}

.changeContent {
  background-color: white;
  color: black;
}

.imageContainer {
  position: relative;
}

.lottieanimation {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 1;

  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .content {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 16px;
    padding: 28px 28px;
    border-radius: 5px;
    opacity: 0.5;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    transition: opacity 0.3s ease-in;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    /* background-color: #9ef01a; */
    width: 30vw;
  }

  .content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 16px;
    padding: 28px 28px;
    border-radius: 5px;
    opacity: 1;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    transition: opacity 0.3s ease-in;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    background-color: #9ef01a;
    width: 30vw;
  }

  .content:hover {
    cursor: pointer;
    opacity: 1;
  }

  .changeContent {
    background-color: white;
    color: black;
  }
}

@media (max-width: 940px) {
  .footerContainer {
    margin: 0;
  }
  .content {
    width: 20dvw;
  }

  .content2 {
    width: 20dvw;
  }

  .text {
    font-size: 1em;
    font-weight: bold;
  }

  .secondaryText {
    font-size: 0.8em;
    color: black;
    margin: 0;
  }

  .img1 {
    width: 40px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
  }

  .footerContainer {
    padding: 0px;
  }
}

@media (max-width: 550px) {
  .footerContainer {
    overflow-x: auto;
  }
  .text {
    font-size: 0.8em;
  }
  .secondaryText {
    font-size: 0.6em;
  }
  .content {
    height: 16px;
    width: 25dvw;
    padding: 15px 15px;
  }

  .content2 {
    height: 16px;
    width: 25dvw;
    padding: 15px 15px;
  }
}
